*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:#1e293b;
}

.logo{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero span{
    color:#38bdf8;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:80px 10%;
}

h2{
    margin-bottom:20px;
    color:#38bdf8;
}

.skill-box{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.skill-box div,
.project-card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
}

.project-card{
    margin-top:20px;
}

footer{
    background:#1e293b;
    text-align:center;
    padding:20px;
}